# Courtesy of http://stackoverflow.com/questions/12799855/configure-git-to-track-only-one-file-extension

# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 
!*.java
!.gitignore